.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.email-icon {
    width: 22px;
    height: 22px;
    background-position: -5px -5px;
}

.icq-icon {
    width: 26px;
    height: 26px;
    background-position: -5px -37px;
}

.phone-icon {
    width: 24px;
    height: 23px;
    background-position: -5px -73px;
}

.skype-icon {
    width: 24px;
    height: 26px;
    background-position: -5px -106px;

}

body {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.bgGrey {
    background: #445162;
}
.bgGreyLight {
    background: #989898;
}

header {
    height: 323px;
}

footer {
    height: 535px;
}

.about {

}
.dignity {}
.screenshots {}
.reviews {}
.buy {}
