h1 {
    text-align: center;
}
.container {
    margin: 10px auto;
    display: grid;
    grid-template: repeat(10, 80px) / repeat(10, 80px);
    width: 800px;
    height: 800px;
    border: 3px solid saddlebrown;
}
.black {
    background: #000;
    color: white;
}
.letter, .number, .squareButton {
    justify-self: center;
    align-self: center;
    font: 36px bold;
}
.square {
    text-align: center;
    font-size: 56px;
}